*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, "Hiragino Sans", "Yu Gothic UI", "Segoe UI", "Meiryo", sans-serif;
  width: 500px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  height: 25px;
}

.cell {
  height: 25px;
  width: 25px;
  display: inline-block;
  text-align: center;
  cursor: default;
  border: 0.5px solid;
}

.bg-color {
  background-color: #afaffa;
}

.bg-light {
  background-color: lavender;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  background-color: #afaffa;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: 20px;
}
